afterpage.sty
auto/
glossary.sty
thesis.aux
thesis.bbl
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.glg
thesis.glo
thesis.gls
thesis.ist
thesis.lof
thesis.log
thesis.lot
thesis.o
thesis.pdf
thesis.synctex.gz
thesis.tex
thesis.toc
/cache/
/figures/
*woven*
